@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-container{
position: absolute;
width: 90%;
height: 1024px;
left: 0px;
top: 0px;
/* background: #62E7AD; */
background: rgba(196, 196, 196, 0.58);

}


.second-container{
  position: absolute;
  width: 900px;
  height: 690px;
  left: 160px;
  top: 108px;
  background: #FFFAFA;
}
.leftside-container{
position: absolute;
width: 250px;
height: 215px;
left: 650px;
top:0px;
background: #62E7AD;
clip-path: ellipse(130px 180px at 100% 0% );
}
.form-container{
  padding: 10rem 25rem 0rem 3rem ;

}
 h1{
  font-family: 'Roboto', sans-serif;
}
.box-container{
  width: 90%;
}
.col2{
  padding-top: 10rem;
}
.col1{
  margin-left: 5%;
}
p{
  font-family: 'Roboto', sans-serif;
  opacity: 0.5;
}
.send-form-button{
  background-color:#FF8D5E;
  padding: 1rem;
  text-align: center;
  color: white;
  border: 1px solid #FF8D5E;
  width: 40%;
}





